.hline {
  cursor: grab;
}
.amida-container {
  padding: 1rem;
}
#indicator.inactive {
  display: none;
}
.amida-menu-container {
  box-shadow: 1px 1px 15px rgba(0,0,0,.2);
  border: solid 1px rgba(0,0,0,.2);
  display: inline-block;
  background: white;
  position: absolute;
}
.amida-menu-item {
  padding: .2em .4em;
}
.amida-menu-item:hover {
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

